.cwLayoutAngularCustom-intersection-activities-roles table.cw-grid th {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.cwLayoutAngularCustom-intersection-activities-roles table.cw-grid td {
  text-align: inherit;
  border-right: 1px solid #eee;
  border-left: 0px solid !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cwLayoutAngularCustom-intersection-activities-roles table.cw-grid td.cw-row-header {
  min-width: 100px;
  text-align: center;
  padding: 15px;
}
.cwLayoutAngularCustom-intersection-activities-roles table.cw-grid td.cw-row-header:hover {
  background-color: #dde0e0;
}
.cwLayoutAngularCustom-intersection-activities-roles table.cw-grid tr.content-row:hover {
  background-color: #dde0e0;
}
